<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pgrrr.onedelivery.mapper.StoreMapper">
    <select id="findStoreListByCategory" resultType="Store">
        SELECT *
        FROM store
        WHERE category_id = #{categoryId}
        LIMIT #{size} OFFSET #{page};
    </select>
    <select id="findStoreListByCategoryAddress" parameterType="long" resultType="Store">
        SELECT *
        FROM store
        WHERE category_id = #{categoryId}
        AND address = #{address};
    </select>
    <select id="findStoreByName" parameterType="string" resultType="Store">
        SELECT *
        FROM store
        WHERE name = #{name};
    </select>
    <insert id="insertStore" parameterType="Store">
        INSERT INTO store(name, phone, address, info, status, img, min_cost, tip_price, category_id)
        VALUES (#{name}, #{phone}, #{address}, #{info}, #{status}, #{img}, #{minCost}, #{tipPrice}, #{categoryId});
    </insert>
</mapper>